:root,
.light,
.light-theme {
  --yellow-1: #fefdfb;
  --yellow-2: #fff9eb;
  --yellow-3: #fff1c6;
  --yellow-4: #ffe8a8;
  --yellow-5: #ffdc89;
  --yellow-6: #fed080;
  --yellow-7: #ebbf73;
  --yellow-8: #d9a84c;
  --yellow-9: #ffc640;
  --yellow-10: #fcbe44;
  --yellow-11: #9d6d00;
  --yellow-12: #473921;

  --yellow-a1: #c0800004;
  --yellow-a2: #ffb30014;
  --yellow-a3: #ffc10039;
  --yellow-a4: #ffbc0057;
  --yellow-a5: #ffb40076;
  --yellow-a6: #fda1007f;
  --yellow-a7: #db8b008c;
  --yellow-a8: #c98300b3;
  --yellow-a9: #ffb300bf;
  --yellow-a10: #fba700bb;
  --yellow-a11: #9d6d00;
  --yellow-a12: #2c1c00de;

  --yellow-contrast: #2c1f09;
  --yellow-surface: #fff8e6cc;
  --yellow-indicator: #ffc640;
  --yellow-track: #ffc640;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root,
    .light,
    .light-theme {
      --yellow-1: oklch(99.4% 0.0028 80.35);
      --yellow-2: oklch(98.7% 0.0214 80.35);
      --yellow-3: oklch(97% 0.063 80.35);
      --yellow-4: oklch(94.7% 0.0941 80.35);
      --yellow-5: oklch(92% 0.1191 80.35);
      --yellow-6: oklch(88.1% 0.111 80.35);
      --yellow-7: oklch(82.9% 0.1077 80.35);
      --yellow-8: oklch(75.9% 0.1234 80.35);
      --yellow-9: oklch(86.8% 0.1604 80.35);
      --yellow-10: oklch(83.7% 0.1502 80.35);
      --yellow-11: oklch(57% 0.1258 80.35);
      --yellow-12: oklch(35.3% 0.0417 80.35);

      --yellow-a1: color(display-p3 0.7569 0.5137 0.0235 / 0.016);
      --yellow-a2: color(display-p3 0.949 0.6863 0.0078 / 0.075);
      --yellow-a3: color(display-p3 0.9647 0.7333 0.0039 / 0.204);
      --yellow-a4: color(display-p3 0.9529 0.7255 0.0039 / 0.31);
      --yellow-a5: color(display-p3 0.9451 0.6824 0.0039 / 0.42);
      --yellow-a6: color(display-p3 0.9333 0.6157 0.0039 / 0.455);
      --yellow-a7: color(display-p3 0.7922 0.5216 0 / 0.506);
      --yellow-a8: color(display-p3 0.7176 0.4784 0 / 0.64);
      --yellow-a9: color(display-p3 0.9451 0.6667 0 / 0.644);
      --yellow-a10: color(display-p3 0.9216 0.6157 0 / 0.64);
      --yellow-a11: color(display-p3 0.5216 0.3451 0 / 0.863);
      --yellow-a12: color(display-p3 0.149 0.102 0 / 0.859);

      --yellow-contrast: #2c1f09;
      --yellow-surface: color(display-p3 1 0.9765 0.9137 / 0.8);
      --yellow-indicator: oklch(86.8% 0.1604 80.35);
      --yellow-track: oklch(86.8% 0.1604 80.35);
    }
  }
}

.dark,
.dark-theme {
  --yellow-1: #14110c;
  --yellow-2: #1c1810;
  --yellow-3: #2d210c;
  --yellow-4: #3d2800;
  --yellow-5: #4a3200;
  --yellow-6: #574012;
  --yellow-7: #6b5123;
  --yellow-8: #88682e;
  --yellow-9: #f4b63a;
  --yellow-10: #e9ab2b;
  --yellow-11: #ffc452;
  --yellow-12: #fde5be;

  --yellow-a1: #d1110004;
  --yellow-a2: #fba6000c;
  --yellow-a3: #ff99001e;
  --yellow-a4: #fb8c0030;
  --yellow-a5: #fc99003e;
  --yellow-a6: #ffb1154b;
  --yellow-a7: #fdb94061;
  --yellow-a8: #ffbf4b80;
  --yellow-a9: #febd3cf4;
  --yellow-a10: #feba2de8;
  --yellow-a11: #ffc452;
  --yellow-a12: #ffe7c0fd;

  --yellow-contrast: #2c1f09;
  --yellow-surface: #271f1080;
  --yellow-indicator: #f4b63a;
  --yellow-track: #f4b63a;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark,
    .dark-theme {
      --yellow-1: oklch(17.8% 0.0106 80.35);
      --yellow-2: oklch(21% 0.0157 80.35);
      --yellow-3: oklch(25.7% 0.0378 80.35);
      --yellow-4: oklch(29.5% 0.0627 80.35);
      --yellow-5: oklch(33.6% 0.0705 80.35);
      --yellow-6: oklch(38.7% 0.0686 80.35);
      --yellow-7: oklch(45.3% 0.0722 80.35);
      --yellow-8: oklch(53.7% 0.0857 80.35);
      --yellow-9: oklch(81.3% 0.1502 80.35);
      --yellow-10: oklch(78.1% 0.1502 80.35);
      --yellow-11: oklch(85.4% 0.1448 80.35);
      --yellow-12: oklch(93.3% 0.0574 80.35);

      --yellow-a1: color(display-p3 0.9412 0.0667 0 / 0.009);
      --yellow-a2: color(display-p3 0.9804 0.7059 0.0706 / 0.043);
      --yellow-a3: color(display-p3 0.9961 0.6392 0 / 0.11);
      --yellow-a4: color(display-p3 0.9961 0.6118 0 / 0.173);
      --yellow-a5: color(display-p3 1 0.6667 0 / 0.223);
      --yellow-a6: color(display-p3 1 0.7451 0.2078 / 0.278);
      --yellow-a7: color(display-p3 1 0.7725 0.349 / 0.362);
      --yellow-a8: color(display-p3 1 0.7882 0.3882 / 0.479);
      --yellow-a9: color(display-p3 1 0.7882 0.3569 / 0.916);
      --yellow-a10: color(display-p3 1 0.7765 0.3176 / 0.87);
      --yellow-a11: color(display-p3 0.9961 0.8039 0.4118 / 0.963);
      --yellow-a12: color(display-p3 1 0.9255 0.7804 / 0.975);

      --yellow-contrast: #2c1f09;
      --yellow-surface: color(display-p3 0.1412 0.1176 0.0627 / 0.5);
      --yellow-indicator: oklch(81.3% 0.1502 80.35);
      --yellow-track: oklch(81.3% 0.1502 80.35);
    }
  }
}
